body {
width: 100%;
justify-content: center;
margin: auto;
background-color: lightgrey;
}

h1 {
font-family: 'Anonymous Pro';
justify-content: center;
margin: auto;
width: 50%;
font-weight: bold;
color: salmon;
font-size: 32px;
}

h2{
    text-align: center;
}

#form{
border: salmon 15px ridge;
}
#tagLine{
text-align: center;
}


fieldset {
border: salmon 15px ridge;
width: 60%;
justify-content: center;
margin: auto;
}

table, tr, th, td {
    border: 1px rgb(226, 36, 15) solid;
    border-radius: 5%;
    background-color: beige;
}

th {
background-color: whitesmoke ;
}